# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
.env

# SQLite databases
*.db
instance/

# MacOS
.DS_Store

# Logs
*.log

# Python egg metadata
*.egg-info/

