<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timesheets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        Timesheets
    </header>
    <div class="container">
        {% include 'sidebar.html' %}
        <div class="content">
            <h2>Timesheets</h2>
            <ul>
                <li><a href="{{ url_for('add_timesheet') }}">Add New Timesheet</a></li>
                <li><a href="{{ url_for('view_timesheets') }}">View Previous Timesheets</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
